.fat-form {
  .el-form-item .el-form-item {
    margin-right: 0;
  }
}

.fat-form-row {
  max-width: 100%;
}

.fat-form-group-container {
  max-width: 100%;
}

// 强制隐藏 label，主要是修复 element-ui/element-plus 不一致的问题
.fat-form-item--hide-label > .el-form-item__label {
  display: none !important;
}

.fat-form-item__content {
  flex: 1;
}

.fat-form-item:not(.fat-form-group) {
  .fat-form-item__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .fat-form-item--no-wrap {
    flex-wrap: nowrap;
  }
}

.fat-form-message {
  line-height: 25px;
  font-size: 12px;
  color: #a1a4ab;
}

.fat-form-message--inline {
  display: inline;
  white-space: nowrap;
  margin-left: 15px;
}
