.fat-form {
  .el-form-item .el-form-item {
    margin-right: 0;
  }

  .el-form-item__error {
    background-color: white;
  }
}

// 强制隐藏 label，主要是修复 element-ui/element-plus 不一致的问题
.fat-form-item--hide-label > .el-form-item__label {
  display: none !important;
}

.fat-form-item__content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.fat-form-row,
.fat-form-group-container {
  width: 100%;
}

.fat-form-item--inline-message {
  flex-wrap: nowrap;

  .fat-form-group-container {
    width: auto;
  }
}

.fat-form-message {
  line-height: 25px;
  font-size: 12px;
  color: #a1a4ab;
}

.fat-form-message--inline {
  display: inline;
  white-space: nowrap;
  margin-left: 10px;
}
