.fat-table-actions {
  &__btn {
    margin-left: 20px;

    &.danger {
      color: var(--wk-color-danger, #f5222d);
    }

    &.warning {
      color: var(--wk-color-warning, #ff9c23);
    }
  }

  &__dropdown {
    vertical-align: middle;
  }

  &__more {
    cursor: pointer;
    margin-left: 20px;
    outline: none;
    vertical-align: middle;
    line-height: 1;

    & > svg {
      width: 1.5em;
      height: 1.5em;
      fill: var(--wk-color-primary, #1890ff);
    }
  }
}
