.fat-a-captcha {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;

  &__input {
    flex: 1;
  }

  &__button {
    margin-left: 8px;
    font-variant: tabular-nums;
    min-width: 80px;
  }
}
