.fat-a-checkboxs {
  // 垂直布局
  &--vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .el-checkbox {
      height: auto;

      &:not(:last-child) {
        // 这是足以放下错误信息最小大小
        margin-bottom: 16px;
      }
    }

    // element-ui 适配：对齐
    @at-root .vue2 & {
      .el-checkbox__label {
        vertical-align: middle;
      }
    }
  }
}
