@use '../config' as *;

.fat-a-images {
  $size: var(--fat-a-images-size);
  .#{$el-ns}-upload-list--picture-card {
    line-height: 1;
  }

  .#{$el-ns}-upload--picture-card {
    width: $size;
    height: $size;
    line-height: calc($size - 2px);
  }

  .#{$el-ns}-upload-list--picture-card .#{$el-ns}-upload-list__item {
    width: $size;
    height: $size;
  }

  .#{$el-ns}-upload-list__item-thumbnail {
    object-fit: contain;
  }

  &__add {
    height: 100% !important;
  }

  &--exceeded .#{$el-ns}-upload {
    display: none;
  }

  &--preview {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__p-item {
    width: $size;
    height: $size;
    display: block;
    border-radius: 3px;
    &-img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
