@use 'variables' as *;

:root {
  --fat-color-primary-900: #{$wk-color-primary-900};
  --fat-color-primary-800: #{$wk-color-primary-800};
  --fat-color-primary-700: #{$wk-color-primary-700};
  --fat-color-primary-600: #{$wk-color-primary-600};
  --fat-color-primary-500: #{$wk-color-primary-500};
  --fat-color-primary-400: #{$wk-color-primary-400};
  --fat-color-primary-300: #{$wk-color-primary-300};
  --fat-color-primary-200: #{$wk-color-primary-200};
  --fat-color-primary-100: #{$wk-color-primary-100};
  --fat-color-primary-50: #{$wk-color-primary-50};
  --fat-color-secondary-900: #{$wk-color-secondary-900};
  --fat-color-secondary-800: #{$wk-color-secondary-800};
  --fat-color-secondary-700: #{$wk-color-secondary-700};
  --fat-color-secondary-600: #{$wk-color-secondary-600};
  --fat-color-secondary-500: #{$wk-color-secondary-500};
  --fat-color-secondary-400: #{$wk-color-secondary-400};
  --fat-color-secondary-300: #{$wk-color-secondary-300};
  --fat-color-secondary-200: #{$wk-color-secondary-200};
  --fat-color-secondary-100: #{$wk-color-secondary-100};
  --fat-color-secondary-50: #{$wk-color-secondary-50};
  --fat-color-success-900: #{$wk-color-success-900};
  --fat-color-success-800: #{$wk-color-success-800};
  --fat-color-success-700: #{$wk-color-success-700};
  --fat-color-success-600: #{$wk-color-success-600};
  --fat-color-success-500: #{$wk-color-success-500};
  --fat-color-success-400: #{$wk-color-success-400};
  --fat-color-success-300: #{$wk-color-success-300};
  --fat-color-success-200: #{$wk-color-success-200};
  --fat-color-success-100: #{$wk-color-success-100};
  --fat-color-success-50: #{$wk-color-success-50};
  --fat-color-danger-900: #{$wk-color-danger-900};
  --fat-color-danger-800: #{$wk-color-danger-800};
  --fat-color-danger-700: #{$wk-color-danger-700};
  --fat-color-danger-600: #{$wk-color-danger-600};
  --fat-color-danger-500: #{$wk-color-danger-500};
  --fat-color-danger-400: #{$wk-color-danger-400};
  --fat-color-danger-300: #{$wk-color-danger-300};
  --fat-color-danger-200: #{$wk-color-danger-200};
  --fat-color-danger-100: #{$wk-color-danger-100};
  --fat-color-danger-50: #{$wk-color-danger-50};
  --fat-color-warning-900: #{$wk-color-warning-900};
  --fat-color-warning-800: #{$wk-color-warning-800};
  --fat-color-warning-700: #{$wk-color-warning-700};
  --fat-color-warning-600: #{$wk-color-warning-600};
  --fat-color-warning-500: #{$wk-color-warning-500};
  --fat-color-warning-400: #{$wk-color-warning-400};
  --fat-color-warning-300: #{$wk-color-warning-300};
  --fat-color-warning-200: #{$wk-color-warning-200};
  --fat-color-warning-100: #{$wk-color-warning-100};
  --fat-color-warning-50: #{$wk-color-warning-50};
  --fat-color-info-900: #{$wk-color-info-900};
  --fat-color-info-800: #{$wk-color-info-800};
  --fat-color-info-700: #{$wk-color-info-700};
  --fat-color-info-600: #{$wk-color-info-600};
  --fat-color-info-500: #{$wk-color-info-500};
  --fat-color-info-400: #{$wk-color-info-400};
  --fat-color-info-300: #{$wk-color-info-300};
  --fat-color-info-200: #{$wk-color-info-200};
  --fat-color-info-100: #{$wk-color-info-100};
  --fat-color-info-50: #{$wk-color-info-50};
  --fat-color-gray-900: #{$wk-color-gray-900};
  --fat-color-gray-800: #{$wk-color-gray-800};
  --fat-color-gray-700: #{$wk-color-gray-700};
  --fat-color-gray-600: #{$wk-color-gray-600};
  --fat-color-gray-500: #{$wk-color-gray-500};
  --fat-color-gray-400: #{$wk-color-gray-400};
  --fat-color-gray-300: #{$wk-color-gray-300};
  --fat-color-gray-200: #{$wk-color-gray-200};
  --fat-color-gray-100: #{$wk-color-gray-100};
  --fat-color-gray-50: #{$wk-color-gray-50};
  --fat-color-gray-0: #{$wk-color-gray-0};
  --fat-color-primary: #{$wk-color-primary};
  --fat-color-secondary: #{$wk-color-secondary};
  --fat-color-success: #{$wk-color-success};
  --fat-color-danger: #{$wk-color-danger};
  --fat-color-warning: #{$wk-color-warning};
  --fat-color-info: #{$wk-color-info};
  --fat-color-white: #{$wk-color-white};
  --fat-color-black: #{$wk-color-black};
  --fat-color-font-primary: #{$wk-color-font-primary};
  --fat-color-font-regular: #{$wk-color-font-regular};
  --fat-color-font-secondary: #{$wk-color-font-secondary};
  --fat-color-font-placeholder: #{$wk-color-font-placeholder};
  --fat-color-font-disabled: #{$wk-color-font-disabled};
  --fat-color-font-inverse: #{$wk-color-font-inverse};
  --fat-color-border-dark: #{$wk-color-border-dark};
  --fat-color-border: #{$wk-color-border};
  --fat-color-border-light: #{$wk-color-border-light};
  --fat-color-border-lighter: #{$wk-color-border-lighter};
  --fat-color-border-extra-light: #{$wk-color-border-extra-light};
  --fat-color-bg: #{$wk-color-bg};
  --fat-color-bg-dark: #{$wk-color-bg-dark};
  --fat-color-link: #{$wk-color-link};
  --fat-color-link-hover: #{$wk-color-link-hover};
  --fat-font-family: #{$wk-font-family};
  --fat-font-family-mono: #{$wk-font-family-mono};
  --fat-font-family-number: #{$wk-font-family-number};
  --fat-font-size-h1: #{$wk-font-size-h1};
  --fat-font-line-height-h1: #{$wk-font-line-height-h1};
  --fat-font-size-h2: #{$wk-font-size-h2};
  --fat-font-line-height-h2: #{$wk-font-line-height-h2};
  --fat-font-size-h3: #{$wk-font-size-h3};
  --fat-font-line-height-h3: #{$wk-font-line-height-h3};
  --fat-font-size-h4: #{$wk-font-size-h4};
  --fat-font-line-height-h4: #{$wk-font-line-height-h4};
  --fat-font-size-h5: #{$wk-font-size-h5};
  --fat-font-line-height-h5: #{$wk-font-line-height-h5};
  --fat-font-size-h6: #{$wk-font-size-h6};
  --fat-font-line-height-h6: #{$wk-font-line-height-h6};
  --fat-font-size: #{$wk-font-size};
  --fat-font-line-height: #{$wk-font-line-height};
  --fat-font-weight: #{$wk-font-weight};
  --fat-border-radius-sm: #{$wk-border-radius-sm};
  --fat-border-radius-base: #{$wk-border-radius-base};
  --fat-border-radius-md: #{$wk-border-radius-md};
  --fat-border-radius-lg: #{$wk-border-radius-lg};
  --fat-border-radius-full: #{$wk-border-radius-full};
  --fat-spacing-xs: #{$wk-spacing-xs};
  --fat-spacing-sm: #{$wk-spacing-sm};
  --fat-spacing-base: #{$wk-spacing-base};
  --fat-spacing-md: #{$wk-spacing-md};
  --fat-spacing-lg: #{$wk-spacing-lg};
  --fat-spacing-xl: #{$wk-spacing-xl};
  --fat-z-index-normal: #{$wk-z-index-normal};
  --fat-z-index-dropdown: #{$wk-z-index-dropdown};
  --fat-z-index-sticky: #{$wk-z-index-sticky};
  --fat-z-index-fixed: #{$wk-z-index-fixed};
  --fat-z-index-modal: #{$wk-z-index-modal};
  --fat-z-index-tooltip: #{$wk-z-index-tooltip};
}
