@use 'variables' as *;

:root {
  --fat-color-primary-900: #{$fat-color-primary-900};
  --fat-color-primary-800: #{$fat-color-primary-800};
  --fat-color-primary-700: #{$fat-color-primary-700};
  --fat-color-primary-600: #{$fat-color-primary-600};
  --fat-color-primary-500: #{$fat-color-primary-500};
  --fat-color-primary-400: #{$fat-color-primary-400};
  --fat-color-primary-300: #{$fat-color-primary-300};
  --fat-color-primary-200: #{$fat-color-primary-200};
  --fat-color-primary-100: #{$fat-color-primary-100};
  --fat-color-primary-50: #{$fat-color-primary-50};
  --fat-color-secondary-900: #{$fat-color-secondary-900};
  --fat-color-secondary-800: #{$fat-color-secondary-800};
  --fat-color-secondary-700: #{$fat-color-secondary-700};
  --fat-color-secondary-600: #{$fat-color-secondary-600};
  --fat-color-secondary-500: #{$fat-color-secondary-500};
  --fat-color-secondary-400: #{$fat-color-secondary-400};
  --fat-color-secondary-300: #{$fat-color-secondary-300};
  --fat-color-secondary-200: #{$fat-color-secondary-200};
  --fat-color-secondary-100: #{$fat-color-secondary-100};
  --fat-color-secondary-50: #{$fat-color-secondary-50};
  --fat-color-success-900: #{$fat-color-success-900};
  --fat-color-success-800: #{$fat-color-success-800};
  --fat-color-success-700: #{$fat-color-success-700};
  --fat-color-success-600: #{$fat-color-success-600};
  --fat-color-success-500: #{$fat-color-success-500};
  --fat-color-success-400: #{$fat-color-success-400};
  --fat-color-success-300: #{$fat-color-success-300};
  --fat-color-success-200: #{$fat-color-success-200};
  --fat-color-success-100: #{$fat-color-success-100};
  --fat-color-success-50: #{$fat-color-success-50};
  --fat-color-danger-900: #{$fat-color-danger-900};
  --fat-color-danger-800: #{$fat-color-danger-800};
  --fat-color-danger-700: #{$fat-color-danger-700};
  --fat-color-danger-600: #{$fat-color-danger-600};
  --fat-color-danger-500: #{$fat-color-danger-500};
  --fat-color-danger-400: #{$fat-color-danger-400};
  --fat-color-danger-300: #{$fat-color-danger-300};
  --fat-color-danger-200: #{$fat-color-danger-200};
  --fat-color-danger-100: #{$fat-color-danger-100};
  --fat-color-danger-50: #{$fat-color-danger-50};
  --fat-color-warning-900: #{$fat-color-warning-900};
  --fat-color-warning-800: #{$fat-color-warning-800};
  --fat-color-warning-700: #{$fat-color-warning-700};
  --fat-color-warning-600: #{$fat-color-warning-600};
  --fat-color-warning-500: #{$fat-color-warning-500};
  --fat-color-warning-400: #{$fat-color-warning-400};
  --fat-color-warning-300: #{$fat-color-warning-300};
  --fat-color-warning-200: #{$fat-color-warning-200};
  --fat-color-warning-100: #{$fat-color-warning-100};
  --fat-color-warning-50: #{$fat-color-warning-50};
  --fat-color-info-900: #{$fat-color-info-900};
  --fat-color-info-800: #{$fat-color-info-800};
  --fat-color-info-700: #{$fat-color-info-700};
  --fat-color-info-600: #{$fat-color-info-600};
  --fat-color-info-500: #{$fat-color-info-500};
  --fat-color-info-400: #{$fat-color-info-400};
  --fat-color-info-300: #{$fat-color-info-300};
  --fat-color-info-200: #{$fat-color-info-200};
  --fat-color-info-100: #{$fat-color-info-100};
  --fat-color-info-50: #{$fat-color-info-50};
  --fat-color-gray-900: #{$fat-color-gray-900};
  --fat-color-gray-800: #{$fat-color-gray-800};
  --fat-color-gray-700: #{$fat-color-gray-700};
  --fat-color-gray-600: #{$fat-color-gray-600};
  --fat-color-gray-500: #{$fat-color-gray-500};
  --fat-color-gray-400: #{$fat-color-gray-400};
  --fat-color-gray-300: #{$fat-color-gray-300};
  --fat-color-gray-200: #{$fat-color-gray-200};
  --fat-color-gray-100: #{$fat-color-gray-100};
  --fat-color-gray-50: #{$fat-color-gray-50};
  --fat-color-gray-0: #{$fat-color-gray-0};
  --fat-color-primary: #{$fat-color-primary};
  --fat-color-secondary: #{$fat-color-secondary};
  --fat-color-success: #{$fat-color-success};
  --fat-color-danger: #{$fat-color-danger};
  --fat-color-warning: #{$fat-color-warning};
  --fat-color-info: #{$fat-color-info};
  --fat-color-white: #{$fat-color-white};
  --fat-color-black: #{$fat-color-black};
  --fat-color-font-primary: #{$fat-color-font-primary};
  --fat-color-font-regular: #{$fat-color-font-regular};
  --fat-color-font-secondary: #{$fat-color-font-secondary};
  --fat-color-font-placeholder: #{$fat-color-font-placeholder};
  --fat-color-font-disabled: #{$fat-color-font-disabled};
  --fat-color-font-inverse: #{$fat-color-font-inverse};
  --fat-color-border-dark: #{$fat-color-border-dark};
  --fat-color-border: #{$fat-color-border};
  --fat-color-border-light: #{$fat-color-border-light};
  --fat-color-border-lighter: #{$fat-color-border-lighter};
  --fat-color-border-extra-light: #{$fat-color-border-extra-light};
  --fat-color-bg: #{$fat-color-bg};
  --fat-color-bg-dark: #{$fat-color-bg-dark};
  --fat-color-link: #{$fat-color-link};
  --fat-color-link-hover: #{$fat-color-link-hover};
  --fat-font-family: #{$fat-font-family};
  --fat-font-family-mono: #{$fat-font-family-mono};
  --fat-font-family-number: #{$fat-font-family-number};
  --fat-font-size-h1: #{$fat-font-size-h1};
  --fat-font-line-height-h1: #{$fat-font-line-height-h1};
  --fat-font-size-h2: #{$fat-font-size-h2};
  --fat-font-line-height-h2: #{$fat-font-line-height-h2};
  --fat-font-size-h3: #{$fat-font-size-h3};
  --fat-font-line-height-h3: #{$fat-font-line-height-h3};
  --fat-font-size-h4: #{$fat-font-size-h4};
  --fat-font-line-height-h4: #{$fat-font-line-height-h4};
  --fat-font-size-h5: #{$fat-font-size-h5};
  --fat-font-line-height-h5: #{$fat-font-line-height-h5};
  --fat-font-size-h6: #{$fat-font-size-h6};
  --fat-font-line-height-h6: #{$fat-font-line-height-h6};
  --fat-font-size: #{$fat-font-size};
  --fat-font-line-height: #{$fat-font-line-height};
  --fat-font-weight: #{$fat-font-weight};
  --fat-border-radius-sm: #{$fat-border-radius-sm};
  --fat-border-radius-base: #{$fat-border-radius-base};
  --fat-border-radius-md: #{$fat-border-radius-md};
  --fat-border-radius-lg: #{$fat-border-radius-lg};
  --fat-border-radius-full: #{$fat-border-radius-full};
  --fat-spacing-xs: #{$fat-spacing-xs};
  --fat-spacing-sm: #{$fat-spacing-sm};
  --fat-spacing-base: #{$fat-spacing-base};
  --fat-spacing-md: #{$fat-spacing-md};
  --fat-spacing-lg: #{$fat-spacing-lg};
  --fat-spacing-xl: #{$fat-spacing-xl};
  --fat-z-index-normal: #{$fat-z-index-normal};
  --fat-z-index-dropdown: #{$fat-z-index-dropdown};
  --fat-z-index-sticky: #{$fat-z-index-sticky};
  --fat-z-index-fixed: #{$fat-z-index-fixed};
  --fat-z-index-modal: #{$fat-z-index-modal};
  --fat-z-index-tooltip: #{$fat-z-index-tooltip};
}
