@use 'share' as *;
@use 'variables' as *;
@use 'config' as *;

.fat-table {
  $tooltip-color: getVar(tooltip-color, $fat-color-font-secondary);
  $tooltip-hover-color: getVar(tooltip-hover-color, $fat-color-font-regular);

  &__tooltip {
    width: 1.2em;
    vertical-align: text-bottom;
    margin-left: 0.4em;
    fill: $tooltip-color;
    cursor: pointer;

    &:hover {
      fill: $tooltip-hover-color;
    }
  }

  &__query {
    // FIXME: 这里覆盖了 element-ui 的样式
    .#{$el-ns}-form-item {
      margin-bottom: 16px;

      &__label {
        padding-right: 7px;
      }
    }

    margin-bottom: calc(-1 * #{$fat-spacing-sm});
  }

  &__empty {
    transition: opacity 225ms ease-out 200ms;
    opacity: 0;
  }

  &--ready &__empty {
    opacity: 1;
  }
}
