@use 'variables' as *;

.fat-text {
  position: relative;
  word-break: break-all;

  &--ellipsis.fat-text--copyable {
    padding-right: 28px;
  }

  &__copy {
    display: inline-block;
    height: auto;
    line-height: inherit;
    font-size: 1.1em;
    cursor: pointer;
    color: $fat-color-info;
    margin-left: 5px;

    &:active {
      opacity: 0.7;
    }

    svg {
      vertical-align: middle;
    }
  }

  &--ellipsis &__copy {
    position: absolute;

    right: 0;
    bottom: 0;
  }
}
