@use 'share' as *;
@use 'variables' as *;

.fat-actions {
  $gap: getVar(table-actions-gap, 20px);

  &__btn {
    margin-left: $gap;

    &.danger {
      color: $wk-color-danger;
    }

    &.warning {
      color: $wk-color-warning;
    }
  }

  &__dropdown {
    vertical-align: middle;
  }

  &__more {
    cursor: pointer;
    margin-left: $gap;
    outline: none;
    vertical-align: middle;
    line-height: 1;

    & > svg {
      width: 1.5em;
      height: 1.5em;
      fill: $wk-color-primary;
    }
  }
}
