@use 'config' as *;

.fat-form-query {
  position: relative;

  &__submitter {
    &--align > .#{$el-ns}-form-item__label-wrap,
    &--align > .#{$el-ns}-form-item__label {
      visibility: hidden;
    }
  }
}

.vue3 .fat-form-query {
  .#{$el-ns}-input__clear {
    position: absolute;
    margin-right: 8px;
    background-color: white;
    border-radius: 8px;
  }
}
