@use 'variables' as *;

.fat-content {
  border: 1px solid $fat-color-border-light;
  background-color: $fat-color-white;
  border-radius: $fat-border-radius-base;

  &:not(:only-of-type) {
    margin-top: 16px;
  }
}
