.fat-table--default {
  .fat-table__toolbar,
  .fat-table__bottom-toolbar,
  .fat-table__body,
  .fat-table__pagination {
    margin-bottom: 10px;
  }

  .fat-table__pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .fat-table__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-main {
      flex: 1;
    }
  }
}
