@use 'share' as *;
@use 'variables' as *;

.fat-actions {
  $gap: getVar(table-actions-gap, 20px);
  display: flex;
  flex-wrap: wrap;
  gap: 0 $gap;
  align-items: center;

  &--center {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }

  &__btn {
    color: $fat-color-info;

    &:hover,
    &:focus {
      color: $fat-color-info;
    }

    &.danger {
      color: $fat-color-danger;
    }

    &.warning {
      color: $fat-color-warning;
    }
  }

  &__dropdown {
    vertical-align: middle;
  }

  &__menu &__menu-item--disabled {
    pointer-events: auto !important;
    cursor: not-allowed;
  }

  &__more {
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    line-height: 1;

    & > svg {
      width: 1.5em;
      height: 1.5em;
      fill: $fat-color-info;
      display: block;
    }
  }
}
