@use 'config' as *;

.fat-table-drawer {
  .#{$el-ns}-drawer__body {
    padding: 0;
  }

  &__body {
    padding-bottom: 80px;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #f2f6fc;
    z-index: 100;
  }
}
