.is-justify-center {
  justify-content: center;
}

.is-justify-start {
  justify-content: flex-start;
}

.is-justify-end {
  justify-content: flex-end;
}

.is-justify-space-between {
  justify-content: space-between;
}

.is-justify-space-around {
  justify-content: space-around;
}

.is-justify-space-evenly {
  justify-content: space-evenly;
}

.is-align-top {
  align-items: flex-start;
}

.is-align-middle {
  align-items: center;
}

.is-align-bottom {
  align-items: flex-end;
}
