@use 'share' as *;
@use 'variables' as *;

.fat-header {
  $radius: $wk-border-radius-sm;
  $height: getVar(header-height, 58px);
  $body-padding: getVar(header-body-padding, 16px 16px 0 16px);

  background-color: $wk-color-white;
  border-radius: $radius;
  width: 100%;

  &__top {
    padding: 0 24px 0 8px;
    height: $height;
    display: flex;
    align-items: center;
    font-size: $wk-font-size-h3;

    &:not(.lonely) {
      border-bottom: 1px solid $wk-color-border;
    }
  }

  &__top.lonely,
  &__body {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }

  &__top.lonely + &__body {
    display: none;
  }

  &__left {
    flex: 1;
    text-align: left;
  }

  &__tab,
  &__title {
    display: inline-block;
    height: $height;
    line-height: $height;
    padding: 0 16px;
    position: relative;
    user-select: none;
  }

  &__tab {
    cursor: pointer;

    &.active {
      color: $wk-color-primary;
    }

    &.active::after {
      content: '';
      position: absolute;
      height: 3px;
      left: 16px;
      right: 16px;
      bottom: 0;
      background-color: currentColor;
    }
  }

  &__body {
    padding: $body-padding;
  }
}
