@use 'share' as *;
@use 'variables' as *;

.fat-container {
  &__tab {
    display: inline-block;
    padding: 0 16px;
    position: relative;
    user-select: none;
    cursor: pointer;

    &.active {
      color: $fat-color-primary;
    }

    &.active::after {
      content: '';
      position: absolute;
      height: 3px;
      left: 16px;
      right: 16px;
      bottom: 0;
      background-color: currentColor;
    }
  }

  &__query {
    padding: $fat-spacing-sm;
    border-bottom: 1px solid $fat-color-border-light;
  }

  &__body {
    padding: $fat-spacing-sm;
  }

  &--legacy {
    .fat-container__query {
      border-bottom: none;
    }

    .fat-container__body {
      padding: unset;
      margin-top: $fat-spacing-sm;
    }
  }
}
