.fat-table--default {
  .fat-table__toolbar,
  .fat-table__bottom-toolbar,
  .fat-table__pagination {
    padding: 16px 20px;
  }

  .fat-table__pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
