.fat-table--default {
  .fat-table__toolbar,
  .fat-table__bottom-toolbar,
  .fat-table__body,
  .fat-table__pagination {
    margin-bottom: 10px;
  }

  .fat-table__pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
