.fat-a-textarea-preview {
  margin: 0;
  white-space: pre-wrap;
  line-height: 2;
}

// TODO: vue3 兼容
.fat-a-images {
  $size: var(--fat-a-images-size);
  .el-upload-list--picture-card {
    line-height: 1;
  }

  .el-upload--picture-card {
    width: $size;
    height: $size;
    line-height: calc($size - 2px);
  }

  .el-upload-list--picture-card .el-upload-list__item {
    width: $size;
    height: $size;
  }

  .el-upload-list__item-thumbnail {
    object-fit: contain;
  }

  &__add {
    height: 100% !important;
  }

  &--exceeded .el-upload {
    display: none;
  }

  &--preview {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__p-item {
    width: $size;
    height: $size;
    background-size: cover;
    border-radius: 3px;
  }
}
