@forward 'variables';

@use 'share';
@use 'css-variables';
@use 'atomics/index';
@use 'fat-actions';
@use 'fat-card';
@use 'fat-content';
@use 'fat-float-footer';
@use 'fat-form-drawer';
@use 'fat-form';
@use 'fat-container';
@use 'fat-icon';
@use 'fat-space';
@use 'fat-table-default-layout';
@use 'fat-table';
@use 'fat-table-drawer';
@use 'fat-table-select';
@use 'fat-text';
@use 'fat-utils';
@use 'fat-form-steps';
@use 'fat-form-query';

@import '@wakeadmin/element-adapter/style/index.scss';
